[submodule "Tools/waveform-tools"]
	path = Tools/waveform-tools
	url = https://github.com/philiprodrigues/waveform-tools
[submodule "Tools/faiss"]
	path = Tools/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "Tools/knn_cuda"]
	path = Tools/knn_cuda
	url = https://github.com/chrischoy/knn_cuda.git
